*{
    margin: 0;
    padding: 0;
}


.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 13px;
    list-style: none;
    width: 14px; 
    padding-top: 14px;
}