.border{
    border: 2px solid yellow;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Apply to the entire document or a specific container */
html {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #444 #222; /* For Firefox */
  }
  
  html::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height of the scrollbar (for horizontal scrollbars) */
  }
  
  html::-webkit-scrollbar-track {
    background: #222; /* Track background color */
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #444; /* Scrollbar color */
    border-radius: 5px; /* Rounded edges */
    border: 2px solid #222; /* Border to match the track */
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color on hover */
  }
  